<!doctype html>
<html>
  <head>
    <title>Please enter additional information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>
    body {
      background-image: url('/static/chipbackground-original.jpg');
    }
    .prompt {
      background-color: #fff;
      background-color: rgba(255,255,255,0.7);
      margin: 50px;
      padding: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
      // color: #689902;
    }
    #message {
    margin-top: 10px;
    }
    </style>
  </head>
  <body>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
      $( document ).ready(function() {
 
      // Your code here.
      $('#check-button').click(function(event) {
        event.preventDefault();
        window.setTimeout(simulateSuccess, 500);
      });
 
      });

      function simulateSuccess() {
        $('#message').show("slow");
        $('#submit-button').removeAttr("disabled");
      }
    </script>
    <div class="container prompt">
      <div>
	<label>Welcome</label> {{user.firstName}} {{user.lastName}} &lt;{{user.email}}&gt;
      </div>
      <div>
	Select an option:
      </div>
      <div>
	<a href="{{account_url}}" class="btn btn-primary">
	  Link to existing account
	</a>
      </div>
      <br>
      <div>
	<a href="{{tx_url}}" class="btn btn-success">
	  Create new account
	</a>
      </div>
    </div>
  </body>
</html>
