<!doctype html>
<html>
  <head>
    <title>Please enter additional information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>
    body {
      background-image: url('/static/chipbackground-original.jpg');
    }
    .prompt {
      background-color: #fff;
      background-color: rgba(255,255,255,0.7);
      margin: 50px;
      padding: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
      // color: #689902;
    }
    #message {
    margin-top: 10px;
    }
    </style>
  </head>
  <body>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
      $( document ).ready(function() {
 
      // Your code here.
      $('#check-button').click(function(event) {
        event.preventDefault();
        window.setTimeout(simulateSuccess, 500);
      });
 
      });

      function simulateSuccess() {
        $('#message').show("slow");
        $('#submit-button').removeAttr("disabled");
      }
    </script>
    <div class="container prompt">
      <form id="profileProperties" action="{{action}}" method="POST">
	<div>
	  <label>Welcome</label> {{opts.user.firstName}} {{opts.user.lastName}} &lt;{{opts.user.email}}&gt;
        </div>
	<div class="form-group">
	  <label for="langauge">Select your preferred language:</label>
	  <select class="form-control" id="langauge">
	    <option value="ar">Arabic</option>
	    <option value="zh">Chinese</option>
	    <option value="en" selected="selected">English</option>
	    <option value="fr">French</option>
	    <option value="ru">Russian</option>
	    <option value="es">Spanish</option>
	  </select>
	</div>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="opt-in"> Send me marketing email
	  </label>
	</div>
	<button type="submit" value="Submit" class="btn btn-primary" id="submit-button">Submit</button>
      </form>
      <div id="message" class="alert alert-success" role="alert" style="display:none">
	<p>
	  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
	  Partner ID matches existing record.
	</p>
      </div>
    </div>
  </body>
</html>
