{% extends "base.html" %}

{% block body %}
    {% include "profile_snip.html" %}
<div class="container">
</div>

{% endblock %}
{% block javascript %}
    <script src="/static/profile.js"></script>
{% endblock %}
