    <div class="container prompt">
      <form id="profileProperties" action="{{action}}" method="POST" style="display: none;">
	<div class="form-group">
	  <label for="langauge">Select your preferred language:</label>
	  <select class="form-control" name="languagePreference">
	    <option value="zh">Chinese</option>
	    <option value="en">English</option>
	    <option value="fr">French</option>
	    <option value="ru">Russian</option>
	    <option value="es">Spanish</option>
	  </select>
	</div>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="emailEnabled"> Send me marketing email
	  </label>
	</div>
	{% for key in user['profile'].keys() %}
	<div class="form-group"><label>{{key}}:</label><input type="text" name="{{key}}" class="form-control" value="{{user['profile'][key]}}"> </div>
	{% endfor %}
	<input type="submit" value="Submit" class="btn btn-primary" id="submit-button">
      </form>
    </div>
