<!doctype html>
<html>
  <head>
    <title>Please enter additional information</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>
    body {
      background-image: url('/static/chipbackground-original.jpg');
    }
    .prompt {
      background-color: #fff;
      background-color: rgba(255,255,255,0.7);
      margin: 50px;
      padding: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
      // color: #689902;
    }
    #message {
    margin-top: 10px;
    }
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
  {% block javascript %}
  {% endblock %}
</html>
