
{% extends "base.html" %}
{% block body %}
    <div class="container">
      <div class="row">
	<div class="md-col-12 chip">
	  <img src="/static/Anonymous-microchip-v.2-300px.png" alt="microchip image">
	  <div class="content">
	    <h3>DCPU-16</h3>
	    <span type="description">
	      To print to the console, write an ASCII value anywhere between 0x8000 and 0x8180, where 0x8000 is the first character on the screen, 0x8001 is the second, and so on. Color isn't supported yet (but will be momentarily). To read input from the keyboard, read from 0x7FFF to get the next character in the buffer.
	    </span>
	    <div class="buy">
	      <button type="button" class="btn btn-primary">Buy for $10</button>
	    </div>
	  </div>
	</div><!-- chip -->
      </div>
      <div class="row">
	<div class="md-col-12 chip">
	  <img src="/static/somar501-Circuito-integrado-300px.png" alt="microchip image">
	  <div class="content">
	    <h3>TIS-100</h3>
	    <span type="description">
	      The computer is presented to the player as twelve separate processing nodes laid out in a four-by-three grid. Each node has a single processor register to store a numerical value as well as a backup register. Nodes also hold their own assembly language program as entered by the user. The assembly language, a simplified version of real-world assembly languages, allows the node to accept external input or a numerical value sent from an adjacent node, perform basic math and logic operations, store and backup the current data value, and then send results to an adjacent node or to the program's output. 
	    </span>
	    <div class="buy">
	      <button type="button" class="btn btn-primary">Buy for $25</button> 
	    </div>
	  </div>
	</div>
      </div>
    </div>
{% endblock %}
