<html>
    <body onload="document.createElement('form').submit.call(document.getElementById('finishTxForm'))">
        <form id="finishTxForm" name="finishTxForm" action="{{finishTxForm}}" method="POST">
            <input type=hidden name="sessionToken" id="sessionToken" value="{{sessionToken}}"/>
        </form>
    </body>
</html>
