<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acme Chip</title>
  <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.2.0/js/okta-sign-in-1.2.0.min.js" type="text/javascript"></script>
  <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.2.0/css/okta-sign-in-1.2.0.min.css" type="text/css" rel="stylesheet">
  <!-- Customizable css theme options. Link your own customized copy of this file or override styles in-line -->
  <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.2.0/css/okta-theme-1.2.0.css" type="text/css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <style>
    body {
      background-image: url('/static/chipbackground-original.jpg');
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body, html {
      height: 100%;
    }

    #outer-container {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      height: 100%;
      float: right;
    }
  </style>
</head>
<body>
  <div id="outer-container">
    <div id="container"></div>
  </div>
<script>
    function setupOktaSignIn(baseUrl, clientId) {
        var oktaSignIn = new OktaSignIn({
            baseUrl: baseUrl,
            clientId: clientId,
            authParams: {
                responseType: 'id_token',
                responseMode: 'okta_post_message',
                scope: ['openid']
            },
            features: {
                smsRecovery: true
            },
            labels: {
              'primaryauth.title': 'ACME Chip Online Store'
            },
            idps: [
                {
                    'type': 'FACEBOOK',
                    'id': '{{okta_facebook_id}}'
                },
                {
                    'type': 'GOOGLE',
                    'id': '{{okta_google_id}}'
                }
            ]
        });
        return oktaSignIn;
    }
    var oktaSignIn = setupOktaSignIn('{{okta_base_url}}', '{{okta_client_id}}');

    oktaSignIn.renderEl(
        { el: '#container' },
        function (res) {
             console.log(res);
             var id_token = res.id_token || res.idToken;
             if (res.status === 'SUCCESS') {
                 $.post("/sso/oidc", {"id_token": id_token}, function(data) {
                 window.location.href="/secret";
                 });
             }
         },
         function (err) { console.log('Unexpected error authenticating user: %o', err); }
    );
  </script>
</body>
</html>

